@charset "UTF-8";
/* CSS Document */
* {
	background-color: #39071F;
	width: auto;
	box-sizing: border-box;
	font-family: Didot, Georgia, serif;
	font-size: 27px;
	line-height: 40px;
}

/*	Text Styles */

h1 {
	font-size: 50px;
	color: #FA862D;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

p {
		font-size: 27px;
}

h1,
h2,
h3,
p,
a,
img,
section {
	background: transparent;
}

/*	Banner*/

#banner {
	font-family: Didot, Georgia, serif;
	color: #FF4BAD;
	position: static;
	display: flex;
	z-index: 3;
}

.logo {
	flex-wrap: wrap;
}

#banner .logo {
	width: 100%;
}

/*	Navigation*/

.basket {
	position: sticky;
}

.menu,
nav {
	font-family: Didot, Georgia, serif;
	font-weight: 100;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.crumbs ul {
    list-style-type: none;
    padding-left: 0;
	flex-wrap: wrap;
	font-size: 30px;
}

.crumb {
    display: inline-block;
	flex-wrap: wrap;
}

.crumb a::after {               /*Adds symbol between nav items*/
    display: inline-block;
    color: #FF4BAD;
    content: '|';
    font-size: 50px;
    padding: 0 3px;
}

nav li:last-child a::after {    /*Removes last dash in nav bar*/
	content: none;
}

/*	Links	*/

.link-style:link,
.menu a:link,
.contact:link,
.crumb a:link {
    color: #FF4BAD;
	text-decoration: none;

}

.link-style:hover,
.menu:hover,
.contact:hover,
.crumb a:hover {
	color: #FF1797;
}

.link-style:active,
.menu:active,
.contact:active,
.crumb a:active {
	color: #000;
}

.link-style:visited ,
.menu a:visited ,
.contact:visited ,
.crumb a:visited {
	text-decoration: none;
	color: #FF4BAD;
}

.link-style:link {
	background-color: transparent;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #DBDBDB;
}

.link-style:hover {
	text-decoration: underline;
}

.link-style:active {
	color: #DBDBDB;
}

.link-style:visited {
	color: #DBDBDB;
} 

#crumb-current {					/*Displays current page as underlined navigation*/
	text-decoration: underline;	
	color: #FF4BAD;
}

/*	Main*/

.main,
article {
	margin-left: 60px;
	margin-right: 60px;
	padding: 2% 20% 2% 10%;	
	background-color: rgba(164,164,164,0.10);
	color: #DBDBDB;
	background-image: url("../images/stars.png");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
}

article {
	background-size: contain;
	background-repeat: repeat-y;
}

article {
}

.main h1,
.main h2,
.main h3,
.main p,
article h1,
article h2,
article h3,
article p,
article li,
article ul,
article ol,
.main span,
article span {
	background-color: transparent;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	letter-spacing: 2px;
}

.main span,
article span {
	font-weight: bold;
}

.indent {
	padding-left: 90px;
}

.indent-dbl {
	padding-left: 120px;
}

/*	menu	*/

.menu {
	position: sticky;
	display: flex;
	top: 60px;
	left: 80px;
	width: 280px;
	float: right;
	justify-content: left;
}

.menu a {
	font-size: 18px;
	padding-right: 5px;
}

.menu-items {
	list-style-type: none;
}

/*	Footer	*/

footer {
	display: flex;
	font-size: 18px;
	color: #FF4BAD;
	justify-content: center;
}

.contact {
	padding: 30px 60px 30px 60px;
	font-size: 18px;
}

/*	BLOG	*/

.featured {
	display: flex;
	flex-wrap: wrap;
}

.preview-img {
	height: 250px;
/*	border-radius:*/
	padding-right: 60px;
}

.date-position {
}


.italic {
	font-style: italic; 
}

.link-style {
	padding-left:
}




